* {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
}

:root {
  --color-1: #FFCACA;
  --color-2: #372948;
  --color-3: #251B37;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
  height: 3rem;
  background-color: var(--color-2);
}

.navbar-dropdown-button {
  visibility: hidden;
}

@media only screen and (max-device-width: 600px) {
  .navbar-dropdown-button {
    visibility: visible;
    background-color: var(--color-3);
    border-color: var(--color-1);
    border-style: solid;
    border-width: 2px;
    border-radius: 0.25rem;
    color: var(--color-1);
    height: 2rem;
    width: 2rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 0.5rem;
    right: 0;
    margin-right: 1rem;
  }

  .navbar-dropdown-button:active .navbar-dropdown-button:hover {
    background-color:var(--color-1);
    color: white;
  }

  .navbar-item-button {
    padding: 0.25rem 0 0.25rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-1);
    width: 100vw;
    background-color: var(--color-2);;
  }

  #navbar-list {
    position: absolute;
    margin-top: 3rem;
    transform-origin: top center;
  }

  .hidden {
    display: none;
  }

  .navbar-item-button {
    padding: 0.25rem 0 0.25rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-1);
    width: 100vw;
    background-color: var(--color-2);
  }

  .navbar-item-button:hover, .navbar-item-button:active {
    background-color:var(--color-1);
    color: white;
  }

  @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
  }
}