* {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
}

:root {
  --almond: rgb(241, 218, 196);
  --heliotrope-gray: rgb(166, 156, 172);
  --purple-navy: #474973ff;
  --oxford-blue: #161b33ff;
  --xiketic: #0d0c1dff;
}

.bold {
  font-weight: 600;
}

.almond {
  color: var(--almond);
}

.oxford-blue {
  color: var(--oxford-blue);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

section {
  padding: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  height: 3rem;
  background-color: var(--oxford-blue);
  position: sticky;
  z-index: 10;
  top: 0;
}

.navbar-dropdown-button {
  display: none;
}


.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-centered {
  text-align: center;
}

.absolute {
  position: absolute;
}

/* ---------------- */

#welcome {
  background-color: var(--xiketic);
  height: 100vh;
}

#welcome-text, #welcome-text h2 {
  font-size: 1.5rem;
  height: 4rem;
  margin: 1rem;
}

#workButton {
  font-size: 1.5rem; 
  background-color: var(--xiketic);
  -webkit-transition: background-color 400ms linear, color 400ms linear;
          transition: background-color 400ms linear, color 400ms linear;
  height: 2.5rem;
  width: 15rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: var(--almond);
  margin: 1rem;
  margin-top: 2rem;
}

#workButton:hover, #workButton:active {
  background-color:var(--heliotrope-gray);
  color: white;
  cursor: pointer;
}

/* --------- */

#about {
  height: 100vh;
  background-color: white;
}

.container {
  width: 60rem;
  height: 20rem;
  margin: auto;
  margin-top: 5rem;
  display: flex;
}

#me {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}

p {
  margin: 2rem;
  width: 40rem;
}

#projects {
  background-color: rgb(230, 230, 230);
}

.title {
  width: 100%;
}

@media only screen and (min-device-width:601px) {

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar-list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-item-button {
    padding: 0.25rem;
    position: relative;
  }

  .navbar-item-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--heliotrope-gray);
    transition: width 0.25s ease-out;
  }

  .navbar-item-button:hover::before {
    width: 100%;
    right: auto;
    left: 0;
  }
  
}

@media only screen and (max-device-width: 600px) {
  .hidden {
    display: none;
  }

  .navbar-dropdown-button {
    border-color: var(--almond);
    border-style: solid;
    border-width: 2px;
    border-radius: 0.25rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    right: 0;
    margin-right: 1rem;
  }

  .navbar-dropdown-button:active .navbar-dropdown-button:hover {
    background-color:var(--purple-navy);
    color: white;
  }

  #navbar-list {
    margin-top: 3rem;
    transform-origin: top center;
  }

  .navbar-item-button {
    padding: 0.25rem 0 0.25rem 0;
    width: 100vw;
    padding: 0.25rem 0 0.25rem 0;
    background-color: var(--oxford-blue);
  }

  .navbar-item-button:hover, .navbar-item-button:active {
    background-color: var(--purple-navy);
  }

  .container {
    margin-top: 2rem;
    height: 60rem;
    width: 20rem;
    flex-direction: column;
  }

  #me {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 15rem;
  }

  #paragraph {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0;
    width: 15rem;
    height: 5rem;
  }

  #skills {
    width: 100%;
    margin-top: 2rem;
  }

  .skill {
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }

  .tech {
    background-color: var(--oxford-blue);
    height: 100%;
    width: 33%;
    padding: 0.33rem;
  }

  .level {
    height: 100%;
    background-color: var(--almond);
    padding: 0.33rem;
    width: 66%;
  }

  .card {
    position: relative;
    height: 75vw;
    width: 75vw;
    margin: auto;
  }

  .thumbnail {
    padding: 1rem 1rem 0 1rem;
    height: inherit;
    width: inherit;
    margin: auto;
    transition: 0.3s;
  }

  .project-title{
    background-color: var(--oxford-blue);
  }

  .project-button {
    height: 3.5rem;
    width: 9rem;
    border-width: 2px;
    border-color: var(--almond);
    border-style: solid;
    background-color: rgba(241, 218, 196, 0.5);;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .projects-container {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1) 
  }
  100% {
      transform: scaleY(1)
  }
}